.cards-stack {
  width: 100%;
  max-width: 45rem;
  margin: 0 auto;
  border-bottom: none;
  border-top: none;
  display: flex;
  flex-direction: column;

  @include mq(1200) {
    width: auto;
    max-width: none;
    flex-direction: row;
    margin-top: 0;
  }

  &__label {
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1.4rem 2.3rem;
    color: var(--white);
    text-align: left;
    pointer-events: none;
    opacity: 1;

    @include mq(768) {
      padding: 1.4rem 3.3rem;
    }

    @include mq(1200) {
      padding: 3rem 1.1rem;
      width: auto;
      text-align: right;
      writing-mode: vertical-lr;
      transform: scale(-1);
    }

    ._stack-right &,
    ._stack-left & {
      opacity: 1;
    }

    ._stack-right & {
      left: auto;
      right: 0;
    }

    ._stack-active & {
      opacity: 0;
    }
  }

  &__wrapper-item {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    height: 4.7rem;
    overflow: hidden;
    margin: 0 auto;

    @include hover() {
      cursor: pointer;
    }

    @include mq(1200) {
      width: 9rem;
      height: 40rem;
      border-radius: 2rem;
    }

    &:first-child {
      overflow: visible;

      @include mq(1200) {
        overflow: hidden;
      }
    }

    &._stack-active {
      margin-top: -1px;
      margin-bottom: -1px;
      overflow: visible;

      @include mq(1200) {
        margin: 0;
      }
    }

    &._stack-left:first-child {
      overflow: hidden;
    }
  }

  &__item {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 3rem;
    border-radius: 2rem;
    border-top-left-radius: 2rem 3.5rem;
    border-top-right-radius: 2rem 3.5rem;
    background-color: var(--eggplant);
    opacity: 0.8;
    transform-origin: top;
    transform: perspective(62rem) rotateX(-52deg);
    pointer-events: none;
    transition: none !important;

    @include mq(1200) {
      position: absolute;
      top: 0;
      border-radius: 2rem;
      left: auto;
      right: 0;
      width: 60rem;
      height: 40rem;
      padding: 4rem;
      margin-top: 0;
      transform-origin: right;
      transform: perspective(60rem) rotateY(-28deg) translateX(0);
    }
  }


  &__name {
    text-align: left !important;
    opacity: 0;
    color: var(--white);
    pointer-events: none;
    margin-bottom: 4rem;

    ._stack-active & {
      opacity: 1;
      transition: opacity 500ms;
    }
  }

  &__stack-list {
    opacity: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 1rem 1rem;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    list-style: none;
    pointer-events: none;
    padding-left: 0;
    margin: 0;

    ._stack-active & {
      opacity: 1;
    }
  }

  &__stack-item {
    display: inline-flex;
    align-items: flex-start;
    gap: 1rem;
    padding: 0.3rem 0.7rem;
    position: relative;
    flex: 0 0 auto;
    border-radius: 5rem;
    border: 0.1rem solid rgba(255, 255, 255, 0.20);
    color: #fff;
    letter-spacing: -0.08rem;

    @include mq(768) {
      padding: 0.8rem 1.2rem;
    }

    @include mq(1200) {
      padding: 1rem 1.5rem;
    }
  }
}
