.container {
  position: relative;
  //background-color: blueviolet;
  margin: 0 auto;
  padding: 0 2rem;
  width: 100%;

  @include mq(768) {
    padding: 0 4rem;
  }

  @include mq(1200) {
    box-sizing: content-box;
    padding: 0 2rem;
    max-width: 128rem;
  }
}
