.heading-h1,
.heading-h2 {
  /* H1H2/Phone */
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 90%; /* 4.32rem */
  letter-spacing: -0.06em;
  text-align: center;
  margin: 0;

  @include mq(768) {
    /* H1H2/Tablet */
    font-size: 9.6rem;
  }

  @include mq(1200) {
    /* H1H2/Desktop */
    font-size: 15rem;
  }
}

.heading-h3 {
  /* H3/Phone */
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 3rem */
  letter-spacing: -0.04em;
  text-align: center;
  margin: 0;

  @include mq(768) {
    /* H3/Tablet */
    font-size: 4.8rem;
    letter-spacing: -0.02em;
  }

  @include mq(1200) {
    /* H3/Desktop */
    font-size: 6.4rem;
    letter-spacing: -0.04em;
  }
}

.heading-h4 {
  /* H4/Phone */
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -0.02em;
  text-align: center;
  margin: 0;

  @include mq(768) {
    /* H4/Tablet */
    font-size: 3.6rem;
  }

  @include mq(1200) {
    /* H4/Desktop */
    font-size: 4.8rem;
    letter-spacing: -0.03em;
  }
}

.heading-h5 {
  /* H5/Phone */
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 2.16rem */
  letter-spacing: -0.02em;
  text-align: center;
  margin: 0;

  @include mq(768) {
    /* H5/Tablet */
    font-size: 2.4rem;
  }

  @include mq(1200) {
    /* H5/Desktop */
    font-size: 3.2rem;
    letter-spacing: -0.03em;
  }
}

.heading-h6 {
  /* H6/Phone */
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 1.92rem */
  letter-spacing: -0.03em;
  text-align: center;
  margin: 0;

  @include mq(768) {
    /* H6/Tablet */
    font-size: 2rem;
  }

  @include mq(1200) {
    /* H6/Desktop */
    font-size: 2.4rem;
    letter-spacing: -0.03em;
  }
}
