@mixin mq($first, $to: false) {
  @if $to {
    @media screen and (min-width: $first + 0px) and (max-width: $to + 0px) {
      @content;
    }
  } @else {
    @media screen and (min-width: $first + 0px) {
      @content;
    }
  }
}

@mixin only-mobile() {
  @include mq(0, 767) {
    @content;
  }
}

@mixin mqh($from, $to: false) {
  @if $to {
    @media screen and (min-height: $from + 0px) and (max-height: $to + 0px) {
      @content;
    }
  } @else {
    @media screen and (max-height: $from + 0px) {
      @content;
    }
  }
}

@mixin hover($isActive: false) {
  @media (hover: hover) {
    /* when hover is supported */
    &:hover {
      @content;
    }
  }
}
